appdirs==1.4.3
cycler==0.10.0
dicom==0.9.9.post1
matplotlib==2.0.0
numpy==1.12.1
opencv-python==3.2.0.6
packaging==16.8
pandas==0.19.2
protobuf==3.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
tensorflow==1.0.0
